## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config_challenge import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
vocation_data_to_load = os.path.join("c:", os.sep, "Users", "Juijie", "Desktop", "Analysis Projects", "M-6", "Vacation_Search", "WeatherPy_vacation.csv")
print(vocation_data_to_load)

c:\Users\Juijie\Desktop\Analysis Projects\M-6\Vacation_Search\WeatherPy_vacation.csv

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(vocation_data_to_load)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Albany,US,29.64,broken clouds,42.6001,-73.9662,NaN
1,7,Severo-Kurilsk,RU,29.19,light snow,50.6789,156.1250,Kak Doma
2,12,Jamestown,US,30.72,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,15,Saint-Augustin,CA,27.19,snow,51.2260,-58.6502,NaN
4,44,Sitka,US,28.29,mist,57.0531,-135.3300,Westmark Sitka

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Yarmouth") & (vacation_df["Hotel Name"] == "Blue Rock Resort")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Yarmouth") & (vacation_df["Hotel Name"] == "Blue Rock Resort")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Jamestown") & (vacation_df["Hotel Name"] == "Hampton Inn & Suites Jamestown")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Palmer") & (vacation_df["Hotel Name"] == "Wedgewood Motel")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Broome") & (vacation_df["Hotel Name"] == "Chenango Valley State Park")]

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
28,205,Yarmouth,US,34.02,clear sky,41.7057,-70.2286,Blue Rock Resort

In [8]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,12,Jamestown,US,30.72,overcast clouds,42.097,-79.2353,Hampton Inn & Suites Jamestown

In [9]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
16,110,Palmer,US,32.61,broken clouds,42.1584,-72.3287,Wedgewood Motel

In [10]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,109,Broome,US,30.7,light snow,42.2506,-75.833,Chenango Valley State Park

In [11]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
28,205,Yarmouth,US,34.02,clear sky,41.7057,-70.2286,Blue Rock Resort

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
print(f'Starting Vacation at: {start}.\n Then make your first stop at: {stop1}.\n Followed by stop 2: {stop2}.\n Proceed to stop 3: {stop3}.\n Ending Vacation at:{end}.')

Starting Vacation at: (41.7057, -70.2286).
 Then make your first stop at: (42.097, -79.2353).
 Followed by stop 2: (42.1584, -72.3287).
 Proceed to stop 3: (42.2506, -75.833).
 Ending Vacation at:(41.7057, -70.2286).

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[start,stop1, stop2, stop3,end],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,205,Yarmouth,US,34.02,clear sky,41.7057,-70.2286,Blue Rock Resort
1,12,Jamestown,US,30.72,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,110,Palmer,US,32.61,broken clouds,42.1584,-72.3287,Wedgewood Motel
3,109,Broome,US,30.70,light snow,42.2506,-75.8330,Chenango Valley State Park

In [33]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[start,stop1, stop2, stop3,end],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
import dataframe_image as dfi
dfi.export(itinerary_df, "Itinerary_Summary.png")